<% include ../partials/header %>

<div class="particle-summary">
    <h3>Inventorum-Wanting Person</h3>
</div>

<div id="canvas-background"></div>

<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/InventorumWantingPerson.js"></script>

<% include ../partials/footer %>
