
/*--------------
Nav Bar
----------------*/
#brand {
		margin-top: 15px;
		letter-spacing: 1.5px;
}

.nav {
	float: right;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

/*--------------
General Styling
----------------*/
body {
	background-color: #eeeeee;
	background-size: 1000px;
	transition: 4s;
}

ul {
	list-style: none;
	padding: 0;
}

h1 {
	color: rgba(255, 11, 159, 1);
	font-size: 72px;
	margin: 50 auto;
	display: block;
}

h2 {
	color: white;
	font-size: 32px;
	margin: 50 auto;
	display: block;
}

.flex-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-box > div {
	flex: 1 1 auto;
}

/*--------------
Header Strip
----------------*/

#scroll-strip-header {
	width: 100%;
	background-color: rgb(31, 133, 255);
	z-index : -1;
	padding: 100px 20px 50px 20px;
	color: white;
	font-size: 30px;
	font-weight: 300px;
	font-family: 'Nunito Sans', sans-serif;	height: 800px;
	height: 78vh;
	display: inline-block;
	transition: background-color 0.4s ease;

}

#resume-download {
	background-color: white;
	color: rgb(139, 29, 249);
	display: block;
	margin: 20 auto 0 auto;
}

#header-flex-box-1 {
	margin-bottom: 50px;
}

.navbar {
	position: fixed;
	width: 100%;
}
.list-title {
	text-decoration: underline;
}

.languages {
	text-align: right;
}

.header-boxes {
	height: 300px;
	margin: 0px 2px;
}

#profile-photo {
	width: 300px;
	height: 300px;
	box-shadow: 0 0 1em rgba(0,0,0,0.6);
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

#profile-photo:hover {
	animation: spin 4s infinite;
	animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
}

.bubble-photo {
	width: 200px;
	height: 200px;
	box-shadow: 0 0 1em rgba(0,0,0,0.6);
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	transition: opacity 0.1s ease;
}

.bubble-photo:hover {
	animation: reverseSpin 4s infinite;
	animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
}

#resume-download {
	width: 200px;
}

#scroll-down {
	left: 30%;
	margin-top: 150px;
	color: white;
	position: absolute;
	width: 800px;
}

.arrow {
	width: 150px;
	height: 150px;
	transition: opacity 2s ease;
}

#filler {
	width: 400px;
	height: 300px;
}

/*--------------
Music Strip
----------------*/

#scroll-strip-music {
	display: inline-block;
	z-index : -1;
	padding: 50px 150px;
	color: white;
	font-size: 30px;
	font-weight: 300px;
	font-family: 'Nunito Sans', sans-serif;	height: 800px;
	background-color: rgb(31, 133, 255);
	transition: background-color 0.3s ease;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: background-color 0.4s ease;
}

.music-strip-hide {
	opacity: 0;
}

#soundcloud-div {
	padding: 0 100px;
}

.soundcloud-embed {
	width: 300px;
	margin: 0 10px;
	/*display: inline-block;*/
}

/*--------------
Nestio Strip
----------------*/

#scroll-strip-nestio {
	z-index : -1;
	padding: 50px 150px;
	color: white;
	font-size: 30px;
	font-weight: 300px;
	font-family: 'Nunito Sans', sans-serif;	height: 800px;
	background-color: rgb(255, 11, 159);
	transition: background-color 0.4s ease;
}

.nestio-strip-hide {
	opacity: 0;
}

/*--------------
Horoscope Strip
----------------*/

#scroll-strip-horoscope {
	display: inline-block;
	z-index : -1;
	padding: 50px 150px;
	color: white;
	font-size: 30px;
	font-weight: 300px;
	font-family: 'Nunito Sans', sans-serif;	height: 800px;
	background-color: rgb(255, 181, 11);
	transition: background-color 0.4s ease;

}

#horoscope-title {
	height: 300px;
	width: 800px;
	box-shadow: 0 0 1em rgba(0,0,0,0.6);
	margin: 0 auto;
	display: block;
}

/*--------------
Project Strip
----------------*/

#scroll-strip-more-projects {
	z-index : -1;
	padding: 50px 150px;
	color: white;
	font-size: 30px;
	font-weight: 300px;
	font-family: 'Nunito Sans', sans-serif;	height: 800px;
	height: 800px;
	background-color: rgb(31, 133, 255);
	transition: background-color 0.4s ease;
}

/*--------------
Sketch Strip
----------------*/

.sketch {
	background-color: rgba(100, 100, 200, 0.5);
}

/*CODING*/

.github-widget {
	margin: 20px auto;
}


/*TRAVEL*/

#world-img {
	width: 100%;
}


@keyframes spin {
  0%   { transform: rotate(0deg); 	}
  8%  { transform: rotate(-15deg); }
  20%  { transform: rotate(800deg); }
  30% { transform: rotate(0deg); 	}
  100%   { transform: rotate(0deg); 	}
}

@keyframes reverseSpin {
  0%   { transform: rotate(0deg); 	}
  8%  { transform: rotate(15deg); }
  20%  { transform: rotate(-800deg); }
  30% { transform: rotate(0deg); 	}
  100%   { transform: rotate(0deg); 	}
}
