
/*--------------
Nav Bar
----------------*/
#brand {
		margin-top: 15px;
		letter-spacing: 1.5px;
}

.nav {
	float: right;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	z-index : 2;
}

.navbar-pages {
	width: 30%;
	display: flex;
}

/*--------------
Progress Bar
----------------*/

#progress-bar {
	right: 50px;
	bottom: 50px;
	position: fixed;
	z-index: 1;
	flex-direction: row;
	border-radius: 5px;
	box-shadow: 0 0 1em rgba(0,0,0,0.6);
}

#progress-bar i {
	text-align: center;
	color: rgb(49, 49, 49);
	opacity: 0.5;
	padding: 8px 2px 8px 2px;
	transition: 0.4s;
	margin: 5px 10px;
}

i:hover {
	animation: iconSpin 4s infinite;
	animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
}

.progress-bar-top {
	/*border-top: 2px solid rgb(49, 49, 49);*/
	/*border-bottom: 1px solid rgb(49, 49, 49);*/
	/*border-left: 2px solid rgb(49, 49, 49);*/
	/*border-right: 2px solid rgb(49, 49, 49);*/
	/*border-radius: 5px 5px 0 0;*/
	color: rgb(49, 49, 49);
}

.progress-bar-middle {
	/*border-top: 1px solid rgb(49, 49, 49);*/
	/*border-bottom: 1px solid rgb(49, 49, 49);*/
	/*border-left: 2px solid rgb(49, 49, 49);*/
	/*border-right: 2px solid rgb(49, 49, 49);*/
	color: rgba(0, 0, 0, 0);
}

.progress-bar-bottom {
	/*border-top: 1px solid rgb(49, 49, 49);*/
	/*border-bottom: 2px solid rgb(49, 49, 49);*/
	/*border-left: 2px solid rgb(49, 49, 49);*/
	/*border-right: 2px solid rgb(49, 49, 49);*/
	/*border-radius: 0 0 5px 5px;*/
	color: rgba(0, 0, 0, 0);
}

/*--------------
General Styling
----------------*/

.section-strip {
	width: 100%;
	z-index : -1;
	padding: 150px 20px 100px 20px;
	font-size: 30px;
	font-weight: 300px;
	font-family: 'Nunito Sans', sans-serif;	height: 800px;
	/*height: 100vh;*/
	height: 700px;
	display: inline-block;
	transition: background-color 0.4s ease;
	margin-bottom: 100px;
}

.summary-column {
	position: absolute;
	left: 450px;
	margin-top: 200px;
	padding-right: 50px;
}

.graphics-column {
	position: absolute;
	left: 50px;
	margin-top: 50px;
}

.graphics-column-2 {
	position: absolute;
	left: 215px;
	margin-top: 50px;
}

#canvas-background {
	z-index: -2;
	position: absolute;
}

body {
	background-color: rgb(248, 248, 248);
	background-size: 1000px;
	transition: 0.4s;
	letter-spacing: 1.5px;
}

ul {
	list-style: none;
	padding: 0;
}

h1 {
	color: rgb(31, 133, 255);
	font-size: 72px;
	margin: 50 auto;
	display: block;
}

h2 {
	color: rgb(49, 49, 49);
	font-size: 48px;
	margin: 50 auto;
	display: block;
	letter-spacing: 1.5px;

}

.flex-box {
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	/*justify-content: flex-start;*/
}

.flex-box > div {
	flex: 1 1 auto;
}

button:hover {
	animation: buttonWobble 2s infinite;
	animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
	color: black;
}

a:hover {
	text-decoration: none;
}

/*--------------
Header Strip
----------------*/


#resume-download {
	background-color: rgb(31, 133, 255);
	color: rgb(255, 255, 255);
	display: block;
	margin: 20 auto 0 auto;
}

.btn-lg {
	color: rgb(255, 255, 255);
}

#header-flex-box-1 {
	margin-bottom: 50px;
}

.navbar {
	position: fixed;
	width: 100%;
}
.list-title {
	text-decoration: underline;
}

#title-text {
	vertical-align: text-bottom;
}

#title {
	vertical-align: middle;
	padding-top: 50px;
}

.languages {
	text-align: right;
}

.header-boxes {
	height: 300px;
	margin: 0px 2px;
}

#profile-photo-div {
	margin-right: 50px;
}

#profile-photo {
	width: 300px;
	height: 300px;
	box-shadow: 0 0 1em rgba(0,0,0,0.6);
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

/*#profile-photo:hover {
	animation: iconSpin 4s infinite;
	animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
}*/

.bubble-photo {
	width: 200px;
	height: 200px;
	box-shadow: 0 0 1em rgba(0,0,0,0.6);
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	transition: opacity 0.1s ease;
}

.bubble-photo:hover {
	animation: reverseSpin 4s infinite;
	animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
}

#resume-download {
	width: 200px;
}

#scroll-down {
	left: 30%;
	margin-top: 150px;
	color: white;
	position: absolute;
	width: 800px;
}

/*--------------
Music Strip
----------------*/

.music-strip-hide {
	opacity: 0;
	transition: opacity 0.4s ease;
}

#soundcloud-flex-box {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.soundcloud-embed {
	width: 300px;
	margin: 0 10px;
	/*display: inline-block;*/
}

#music-summary {
	margin-bottom: 0px;
	height: 200px;
	padding-top: 150px;
}

/*--------------
Nestio Strip
----------------*/

#scroll-strip-nestio {
	z-index : -1;
	padding: 0px 150px;
	color: white;
	font-size: 30px;
	font-weight: 300px;
	font-family: 'Nunito Sans', sans-serif;
	height: 500px;
	transition: background-color 0.4s ease;
}

.nestio-strip-hide {
	opacity: 0;
	transition: opacity 0.4s ease;
}

#nestio-flex-box {
	display: flex;
	flex-direction: row;
}

#skills-div {
	/*width: 20%;*/
	margin-right: 50px;
}
.summary-p {
	margin: 0 0 50 0;
}

.thumbnail-skill {
	z-index : -1;
	height: 150px;
	width: 150px;
	border: 1px solid #ddd;
	margin: 5px;
	padding: 3px;
	background-color: white;
}



/*--------------
Coding Strip
----------------*/

#coding-flex-box {
	display: flex;
	flex-direction: row;
}

#projects-div {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.thumbnail-link {
	z-index : -1;
	height: 150px;
	width: 150px;
	border: 1px solid #ddd;
	margin: 5px;
	border-radius: 50%;
	padding: 3px;
	background-color: white;
}

.thumbnail-link:hover {
	animation: iconSpin 4s infinite;
	animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
}

/*--------------
Coding Strip
----------------*/

.coding-strip-hide {
	opacity : 0;
	transition: opacity 0.4s ease;
}

/*--------------
Sketch Strip
----------------*/

.sketch {
	background-color: rgba(100, 100, 200, 0.5);
}

/*CODING*/

.github-widget {
	margin: 20px auto;
}


/*TRAVEL*/

#world-img {
	width: 100%;
}


@keyframes spin {
  0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
  8%  { transform: rotate(-15deg); -webkit-transform: rotate(-15deg); -ms-transform: rotate(-15deg);	}
  20%  { transform: rotate(800deg); -webkit-transform: rotate(800deg); -ms-transform: rotate(800deg);	}
  30% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
  100%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
}

@keyframes reverseSpin {
	0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
    8%  { transform: rotate(15deg); -webkit-transform: rotate(15deg); -ms-transform: rotate(15deg);	}
    20%  { transform: rotate(-800deg); -webkit-transform: rotate(-800deg); -ms-transform: rotate(-800deg);	}
    30% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
    100%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
}

@keyframes iconSpin {
  0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
  30%  { transform: rotate(-720deg); -webkit-transform: rotate(-720deg); -ms-transform: rotate(-720deg);	}
  50%  { transform: rotate(-720deg); -webkit-transform: rotate(-720deg); -ms-transform: rotate(-720deg);	}
  80%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
}

@keyframes buttonWobble {
  0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
  10%  { transform: rotate(-7deg); -webkit-transform: rotate(-7deg); -ms-transform: rotate(-7deg);		}
  20%  { transform: rotate(7deg); -webkit-transform: rotate(7deg); -ms-transform: rotate(7deg);			}
  30%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
  80%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
}




/*TESTING*/

.circle-curve {
	width: 200px;
	height: auto;
    border-radius: 50%;
	margin: 2px;
	display: inline-block;
    -webkit-shape-outside:circle();
    shape-outside:circle();
}

.music-page {
	padding-top: 100px;
}

#curve {
	display: block;
	margin: 0 auto;
	width: 100px;
}

.curve-text {
	width: 200px;
	display: inline-block;
}
