/*--------------
Smartphones
----------------*/
@media only screen and (max-width : 520px) {
	/*--------------
	General Styling
	----------------*/

	body {
		background-color: rgb(248, 248, 248);
		transition: 0.4s;
		letter-spacing: 1.5px;
		height: 100%;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	h1 {
		color: rgb(31, 133, 255);
		font-size: 72px;
		margin: 50 auto;
		display: block;
	}

	h2 {
		color: rgb(49, 49, 49);
		font-size: 48px;
		margin: 50 auto;
		display: block;
		letter-spacing: 1.5px;

	}

	hr {
		border: 0;
		width: 96%;
	    height: 2px;
	    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	i:hover {
		animation: iconSpin 4s infinite;
		animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
	}

	button:hover {
		animation: buttonWobble 2s infinite;
		animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
		color: black;
	}

	a:hover {
		text-decoration: none;
	}

	.section-strip {
		width: 100%;
		z-index : -1;
		padding: 100px 20px 0px 20px;
		font-size: 30px;
		font-weight: 300;
		font-family: 'Nunito Sans', sans-serif;
		transition: all 0.4s ease;
		margin-bottom: 35px;
		/*height: 550px;*/
	}

	.large-summary {
		display: none;
	}

	.graphics-column {
		z-index: -1;
		width: 100%;
		margin: 0 auto;
	}

	.graphics-column-2 {
		display: none;
		left: 215px;
	}

	.image-text {
		text-align: center;
		margin: 2 auto;
		width: 100%;
		transition: opacity 0.2s ease;
	}

	.flex-box {
		display: flex;
		flex-direction: row;
		/*flex-wrap: wrap;*/
		/*justify-content: flex-start;*/
	}

	.flex-box > div {
		flex: 1 1 auto;
	}

	#canvas-background {
		z-index: -2;
		position: fixed;
	}

	/*--------------
	Strips
	----------------*/

	.initially-hidden {
		display: none;
		opacity: 0;
	}

	/*--------------
	Nav Bar
	----------------*/
	#brand {
		padding-left: 10px;
		margin-top: 15px;
		letter-spacing: 1.5px;
	}

	nav {
		z-index: 3;
	}

	.nav {
		float: right;
		margin-bottom: 0;
		border: none;
		border-radius: 0;
	}

	/*--------------
	Progress Bar
	----------------*/

	#progress-bar {
		margin: 50px auto 20px auto;
		z-index: 0;
		flex-direction: row;
		border-radius: 5px;
		width: 300px;
		padding: 8px 2px 8px 2px;
		box-shadow: 0 0 1em rgba(0,0,0,0.6);
	}

	#progress-bar i {
		cursor: pointer;
		text-align: center;
		color: rgba(49, 49, 49, 0.5);
		transition: 0.2s;
		margin: 5px 12px;
		font-size: 32px;
	}

	#progress-bar #header-icon {
		color: rgba(49, 49, 49, 1);
	}


	/*--------------
	Header Strip
	----------------*/

	.btn-lg {
		color: rgb(255, 255, 255);
	}

	.navbar {
		position: fixed;
		width: 100%;
	}

	#profile-photo {
		width: 200px;
		height: 200px;
		box-shadow: 0 0 1em rgba(0,0,0,0.6);
		border-radius: 50%;
		display: block;
		margin: 0 auto;
	}

	#title-text {
		display: none;
		vertical-align: text-bottom;
	}

	#title-div {
		display: none;
	}

	#resume-download {
		background-color: rgb(31, 133, 255);
		color: rgb(255, 255, 255);
		display: block;
		margin: 20 auto 0 auto;
	}

	/*--------------
	Music Strip
	----------------*/

	.mobile-summary {
		display: block;
		font-size: 17px;
		text-align: center;
	}

	.audio-div h4 {
		display: none;
	}

	#audio-flex-box hr {
		margin: 5px 0px 15px 0px;
	}

	#audio-flex-box {
		display: flex;
		flex-direction: column;
	}

	/*--------------
	Skills Strip
	----------------*/

	.thumbnail-skill {
		z-index : -1;
		height: 70px;
		width: 70px;
		border: 1px solid #ddd;
		margin: 5px 0px;
		padding: 3px;
		background-color: white;
	}

	#skills-column {
		min-height: 150px;
		margin-bottom: 50px;
	}

	.thumbnail-div {
		width: 100%;
		height: 150px;
	}

	/*--------------
	Project Strip
	----------------*/

	.project-div:hover .image-text {
		opacity: 1;
	}

	.thumbnail-link {
		display: block;
		z-index : -1;
		height: 150px;
		width: 150px;
		border: 1px solid #ddd;
		margin: 5px auto 20px auto;
		border-radius: 50%;
		padding: 3px;
		background-color: white;
	}

	.thumbnail-link:hover {
		animation: iconSpin 4s infinite;
		animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
	}

	.thumbnail-link-parent {
		margin: 0 auto;
	}

	#coding-div {
		display: flex;
		flex-direction: column;
		margin-right: 50px;
	}

	.thumbnail-interest {
		z-index : -1;
		height: 100px;
		width: 100px;
		border: 1px solid #ddd;
		margin: 5px 0px;
		padding: 3px;
		background-color: white;
	}

	#interests-column {
		min-height: 200px;
	}
}

/*--------------
Tablets
----------------*/
@media only screen and (min-width : 521px) and (max-width : 768px) {
	/*--------------
	Strips
	----------------*/
	#header-strip {
		padding-top: 150px;
		display: block;
	}

	.initially-hidden {
		display: none;
		opacity: 0;
	}

	.mobile-summary {
		display: none;
	}

	/*--------------
	Nav Bar
	----------------*/
	#brand {
		margin-top: 15px;
		letter-spacing: 1.5px;
	}

	nav {
		z-index: 3;
	}

	.nav {
		float: right;
		margin-bottom: 0;
		border: none;
		border-radius: 0;
	}

	/*--------------
	Progress Bar
	----------------*/

	#progress-bar {
		margin: 50px auto 20px auto;
		z-index: 0;
		flex-direction: row;
		border-radius: 5px;
		width: 300px;
		padding: 8px 2px 8px 2px;
		box-shadow: 0 0 1em rgba(0,0,0,0.6);
	}

	#progress-bar i {
		cursor: pointer;
		text-align: center;
		color: rgba(49, 49, 49, 0.5);
		transition: 0.2s;
		margin: 5px 12px;
		font-size: 32px;
	}

	#progress-bar #header-icon {
		color: rgba(49, 49, 49, 1);
	}

	/*--------------
	General Styling
	----------------*/

	body {
		background-color: rgb(248, 248, 248);
		background-size: 1000px;
		transition: 0.4s;
		letter-spacing: 1.5px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	h1 {
		color: rgb(31, 133, 255);
		font-size: 72px;
		margin: 50 auto;
		display: block;
	}

	h2 {
		color: rgb(49, 49, 49);
		font-size: 48px;
		margin: 50 auto;
		display: block;
		letter-spacing: 1.5px;

	}

	hr {
		border: 0;
		width: 96%;
		height: 2px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	i:hover {
		animation: iconSpin 4s infinite;
		animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
	}

	button:hover {
		animation: buttonWobble 2s infinite;
		animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
		color: black;
	}

	a:hover {
		text-decoration: none;
	}

	.section-strip {
		width: 100%;
		padding: 100px 20px 0px 20px;
		font-size: 30px;
		font-weight: 300;
		font-family: 'Nunito Sans', sans-serif;	height: 800px;
		transition: all 0.4s ease;
	}

	.large-summary {
		display: inline-block;
		z-index: -1;
		font-size: 24px;
	}

	.graphics-column {
		display: inline-block;
		z-index: -1;
		width: 45%;
		height: 400px;
	}

	.thumbnail-div {
		z-index: -1;
		display: block;
		width: 100%;
	}

	.image-text {
		text-align: center;
		height: 50px;
		margin: 2px auto;
		width: 100%;
	}

	.flex-box {
		display: flex;
		flex-direction: row;
		/*flex-wrap: wrap;*/
		/*justify-content: flex-start;*/
	}

	.flex-box > div {
		flex: 1 1 auto;
	}

	#canvas-background {
		z-index: -2;
		position: fixed;
	}

	/*--------------
	Header Strip
	----------------*/

	.btn-lg {
		color: rgb(255, 255, 255);
	}

	.navbar {
		position: fixed;
		width: 100%;
	}

	.header-boxes {
		height: 300px;
		margin: 0px 2px;
	}


	#profile-photo-div {
		margin-right: 50px;
	}

	#profile-photo {
		width: 300px;
		height: 300px;
		box-shadow: 0 0 1em rgba(0,0,0,0.6);
		border-radius: 50%;
		display: block;
		margin: 0 auto;
	}

	#header-flex-box {
		margin-bottom: 50px;
	}

	#title-text {
		vertical-align: text-bottom;
	}

	#title-div {
		vertical-align: middle;
		padding-top: 50px;
	}

	#resume-download {
		background-color: rgb(31, 133, 255);
		color: rgb(255, 255, 255);
		display: block;
		margin: 20 auto 0 auto;
	}

	/*--------------
	Music Strip
	----------------*/

	#audio-flex-box {
		display: flex;
		flex-direction: column;
	}

	.mobile-hr {
		display: none;
	}

	/*--------------
	projects Strip
	----------------*/

	.thumbnail-skill {
		z-index : -1;
		height: 150px;
		width: 150px;
		border: 1px solid #ddd;
		margin: 5px;
		padding: 3px;
		background-color: white;
	}

	#projects-div {
		margin-right: 50px;
	}

	/*--------------
	Project Strip
	----------------*/

	.project-div {
		padding: 0;
	}

	.thumbnail-link {
		display: block;
		z-index : -1;
		height: 140px;
		width: 140px;
		border: 1px solid #ddd;
		margin: 5px auto 30px auto;
		border-radius: 50%;
		padding: 3px;
		background-color: white;
	}

	.thumbnail-interest {
		z-index : -1;
		height: 150px;
		width: 150px;
		border: 1px solid #ddd;
		margin: 5px 0px;
		padding: 3px;
		background-color: white;
	}

	.thumbnail-link:hover {
		animation: iconSpin 4s infinite;
		animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
	}

	.thumbnail-link-parent {
		margin: 0 auto;
	}

	#coding-div {
		display: flex;
		flex-direction: column;
		margin-right: 50px;
	}
}

/*--------------
Laptops
----------------*/
@media only screen  and (min-width : 769px) {
	/*--------------
	Strips
	----------------*/
	#header-strip {
		padding-top: 150px;
		display: block;
	}

	.mobile-summary {
		display: none;
	}

	.initially-hidden {
		display: none;
		opacity: 0;
	}

	/*--------------
	Nav Bar
	----------------*/
	#brand {
		margin-top: 15px;
		letter-spacing: 1.5px;
	}

	nav {
		z-index: 3;
	}

	.nav {
		float: right;
		margin-bottom: 0;
		border: none;
		border-radius: 0;
	}

	/*--------------
	Progress Bar
	----------------*/

	#progress-bar {
		right: 50px;
		bottom: 50px;
		position: fixed;
		z-index: 0;
		flex-direction: row;
		border-radius: 5px;
		box-shadow: 0 0 1em rgba(0,0,0,0.6);
	}

	#progress-bar i {
		cursor: pointer;
		text-align: center;
		color: rgba(49, 49, 49, 0.5);
		padding: 8px 2px 8px 2px;
		transition: 0.2s;
		margin: 5px 10px;
	}

	#progress-bar #header-icon {
		color: rgba(49, 49, 49, 1);
	}

	/*--------------
	General Styling
	----------------*/

	body {
		background-color: rgb(248, 248, 248);
		background-size: 1000px;
		transition: 0.4s;
		letter-spacing: 1.5px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	h1 {
		color: rgb(31, 133, 255);
		font-size: 72px;
		margin: 50 auto;
		display: block;
	}

	h2 {
		color: rgb(49, 49, 49);
		font-size: 48px;
		margin: 50 auto;
		display: block;
		letter-spacing: 1.5px;

	}

	hr {
		border: 0;
		width: 96%;
	    height: 2px;
	    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	i:hover {
		animation: iconSpin 4s infinite;
		animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
	}

	button:hover {
		animation: buttonWobble 2s infinite;
		animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1.0);
		color: black;
	}

	a:hover {
		text-decoration: none;
	}

	.mobile-hr {
		display: none;
	}
	.section-strip {
		width: 100%;
		z-index : -1;
		padding: 100px 20px 0px 20px;
		font-size: 30px;
		font-weight: 300;
		font-family: 'Nunito Sans', sans-serif;	height: 800px;
		transition: all 0.4s ease;
	}

	.large-summary {
		padding: 20px;
		border: 1px solid #ddd;
		display: inline-block;
		z-index: -1;
		font-size: 16px;
	}

	.graphics-column {
		position: absolute;
		z-index: -1;
		left: 50px;
	}

	.graphics-column-2 {
		position: absolute;
		left: 215px;
		z-index: -1;
	}

	.image-text {
		text-align: center;
		opacity: 0;
		margin: 2 auto;
		width: 100%;
		transition: opacity 0.2s ease;
	}

	.flex-box {
		display: flex;
		flex-direction: row;
		/*flex-wrap: wrap;*/
		/*justify-content: flex-start;*/
	}

	.flex-box > div {
		flex: 1 1 auto;
	}

	#canvas-background {
		z-index: -2;
		position: fixed;
	}

	/*--------------
	Header Strip
	----------------*/

	.btn-lg {
		color: rgb(255, 255, 255);
	}

	.navbar {
		position: fixed;
		width: 100%;
	}

	.header-boxes {
		height: 300px;
		margin: 0px 2px;
	}

	#profile-photo-div {
		margin-right: 50px;
	}

	#profile-photo {
		width: 300px;
		height: 300px;
		box-shadow: 0 0 1em rgba(0,0,0,0.6);
		border-radius: 50%;
		display: block;
		margin: 0 auto;
	}

	#header-flex-box {
		padding-left: 35px;
		margin-bottom: 50px;
	}

	#title-text {
		vertical-align: text-bottom;
	}

	#title-div {
		vertical-align: middle;
		padding-top: 50px;
	}

	#resume-download {
		background-color: rgb(31, 133, 255);
		color: rgb(255, 255, 255);
		display: block;
		margin: 20 auto 0 auto;
	}

	/*--------------
	Music Strip
	----------------*/

	#audio-flex-box {
		padding-left: 35px;
		display: flex;
		flex-direction: column;
	}

	/*--------------
	projects Strip
	----------------*/

	.thumbnail-skill {
		z-index : -1;
		height: 150px;
		width: 150px;
		border: 1px solid #ddd;
		margin: 5px;
		padding: 3px;
		background-color: white;
	}

	#projects-div {
		margin-right: 50px;
	}

	/*--------------
	Project Strip
	----------------*/
	.project-div:hover .image-text {
		opacity: 1;
	}

	.thumbnail-link {
		display: block;
		z-index : -1;
		height: 200px;
		width: 200px;
		border: 1px solid #ddd;
		margin: 5px;
		border-radius: 50%;
		padding: 3px;
		background-color: white;
	}

	.thumbnail-link:hover {
		animation: iconSpin 4s infinite;
		animation-timing-function: cubic-bezier(0, 0.6, 0.7, 1.0);
	}

	.thumbnail-link-parent {
		margin: 0 auto;
	}

	#coding-div {
		display: flex;
		flex-direction: column;
		margin-right: 50px;
	}

	.thumbnail-interest {
		z-index : -1;
		height: 250px;
		width: 250px;
		border: 1px solid #ddd;
		margin: 5px 0px;
		padding: 3px;
		background-color: white;
	}
}

audio {
	background-color: rgb(248, 248, 248);
}



@keyframes iconSpin {
  0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
  30%  { transform: rotate(-720deg); -webkit-transform: rotate(-720deg); -ms-transform: rotate(-720deg);	}
  50%  { transform: rotate(-720deg); -webkit-transform: rotate(-720deg); -ms-transform: rotate(-720deg);	}
  80%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
}

@keyframes buttonWobble {
  0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);			}
  10%  { transform: rotate(-7deg); -webkit-transform: rotate(-7deg); -ms-transform: rotate(-7deg);		}
  20%  { transform: rotate(7deg); -webkit-transform: rotate(7deg); -ms-transform: rotate(7deg);			}
  30%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
  80%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg);		}
}
