<% include ./partials/header %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/coding">Coding<span class="sr-only">(current)</span></a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/travel">Travel</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <div id="header">
        <h1 class="heading"><strong>Coding</strong></h1>
    </div>
    <div class="content">
        <div class = "container">
            <a href="/download_resume" download="Rigberg_Resume_2016.pdf" class="btn btn-lg btn-primary" id="resume">Download Resume</a>
            <p id="coding_bio">My primary languages are Javascript and Python, and I enjoy using them
              for such topics as language processing, data visualization, and machine learning. I
              originally studied music composition at Yale University, but since graduating have found
              that I much prefer music as a hobby than a career. After some time spent intensively teaching myself
              Node.JS, I became a Python/Django developer in the real estate tech field before ending up at
              the Recurse Center, where I studied D3 and honed my javascript, design, and algorithm skills.<p>
            <div class="github-widget col-md-6" data-repo="drigberg/games"></div>
            <div class="github-widget col-md-6" data-repo="drigberg/horoscope-generator"></div>
        </div>

    </div>
    <script type="text/javascript" src="/js/jquery.githubRepoWidget.min.js"></script>

<% include ./partials/footer %>
