<% include ./partials/header %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/coding">Coding<span class="sr-only">(current)</span></a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/travel">Travel</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <div id="header">
        <h1 class="heading"><strong>Coding</strong></h1>
    </div>
    <div class="content">
      <div class="github-widget" data-username="drigberg"></div>
      <h1>Github: <a href="https://github.com/drigberg" target="_blank">https://github.com/drigberg</a></h1>
      <h1>Horoscope Generator: <a href="https://lychee-pie-87922.herokuapp.com/" target="_blank">https://lychee-pie-87922.herokuapp.com/</a></h1>
    </div>
<% include ./partials/footer %>
