<% include ./partials/header %>

<div class="particle-summary">
    <h3>Garden 2D</h3>
    <h5>
        Click or touch to plant trees!
    </h5>
</div>

<div id="canvas-background"></div>

<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
<script language="javascript" type="text/javascript" src="/js/math.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/2Dgarden.js"></script>

<% include ./partials/footer %>
