<% include ./partials/header %>

<div class="flex-box" id="progress-bar">
    <i class="fa fa-3x fa-user-circle progress-bar-top" id="header-icon" aria-hidden="true"></i>
    <i class="fa fa-3x fa-graduation-cap progress-bar-middle" id="music-icon"  aria-hidden="true"></i>
    <i class="fa fa-3x fa-code-fork progress-bar-bottom" id="coding-icon" aria-hidden="true"></i>
    <i class="fa fa-3x fa-sort-amount-desc progress-bar-bottom" id="skills-icon" aria-hidden="true"></i>
    <i class="fa fa-3x fa-bicycle progress-bar-bottom" id="interests-icon" aria-hidden="true"></i>
</div>

<div class="section-strip" id="header-strip">
    <div class="flex-box" id="header-flex-box-1">
        <!-- <div class="col-sm-12" id="title"><h1>Daniel Rigberg</h1></div> -->
        <div class="header-boxes" id="profile-photo-div">
            <img id="profile-photo" src="/assets/photos/headshot.jpg">
            <a href="/download_resume" download="Rigberg_Resume_2016.pdf"><button id="resume-download" download="Rigberg_Resume_2016.pdf" class="btn btn-lg">Download Resume</button></a>
        </div>
        <div class="header-boxes" id="title">
            <h2 id="title-text">Daniel Rigberg: web developer</h2>
        </div>
    </div>
</div>

<div class="section-strip" id="music-strip">
    <div class="graphics-column" id="audio-flex-box">
        <div class="audio-div">
            <h4>"September"</h4>
            <h4>for bassoon and piano</h4>
            <audio controls>
                <source src="/assets/audio/september.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>
        <hr>
        <div class="audio-div">
            <h4>"Zinkara"</h4>
            <h4>for two guitars</h4>
            <audio controls>
                <source src="/assets/audio/zinkara.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>
        <hr>
        <div class="audio-div">
            <h4>"Gravity Cats"</h4>
            <h4>for chamber ensemble</h4>
            <audio controls>
                <source src="/assets/audio/gravity_cats.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>
        <hr>
        <div class="audio-div">
            <h4>"Holovarium"</h4>
            <h4>for chamber ensemble</h4>
            <audio controls>
                <source src="/assets/audio/holovarium.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>
    </div>
    <p class="summary-column">Once upon a time, I studied music composition at Yale, but it wasn't the career for me.</p>
</div>

<div class="section-strip" id="coding-strip">
    <div class="graphics-column skills-flex-box">
        <div id="skills-div">
            <div><img class="thumbnail-skill" id="django" src="/assets/photos/django.png"></div>
            <div><img class="thumbnail-skill" id="python" src="/assets/photos/python.png"></div>
            <div><img class="thumbnail-skill" id="excel" src="/assets/photos/excel.png"></div>
        </div>
    </div>
    <div class="graphics-column-2 skills-flex-box">
        <div id="skills-div">
            <div><img class="thumbnail-skill" id="p5" src="/assets/photos/p5js.png"></div>
            <div><img class="thumbnail-skill" id="js" src="/assets/photos/node.png"></div>
            <div><img class="thumbnail-skill" id="html" src="/assets/photos/html.png"></div>
        </div>
    </div>
    <p class="summary-column">After graduating, I joined an NYC startup called career, taught myself how to code, and transitioned to a developer role. <br><br> Recently, I've been studying independently and pair-programming at the Recurse Center in NYC.<p>
</div>

<div class="section-strip" id="skills-strip">
    <div class="graphics-column">
        <div class="coding-div">
            <div></div>
            <div class="project-div">
                <h5 class="image-text">Horoscope Generator</h5>
                <a class="thumbnail-link-parent" href="http://www.horoscopegen.com" target="_blank"><img class="thumbnail-link" id="django" src="/assets/photos/constellations.png"></a>
            </div>
            <div class="project-div">
                <h5 class="image-text">Terminal Battleship</h5>
                <a class="thumbnail-link-parent" href="https://github.com/drigberg/terminal_battleship" target="_blank"><img class="thumbnail-link" src="/assets/photos/battleship.png"></a>
            </div>
            <div class="project-div">
                <h5 class="image-text">Design and Algorithms</h5>
                <a class="thumbnail-link-parent" href="https://github.com/drigberg/algorithms_and_design_patterns" target="_blank"><img class="thumbnail-link" src="/assets/photos/algorithms.png"></a>
            </div>
            <div></div>
        </div>
    </div>
    <div class="graphics-column-2">
        <div class="coding-div">
            <div></div>
            <div class="project-div">
                <h5 class="image-text">Liar's Dice</h5>
                <a class="thumbnail-link-parent" href="https://github.com/drigberg/liars_dice" target="_blank"><img class="thumbnail-link" id="django" src="/assets/photos/liars_dice.png"></a>
            </div>
            <div class="project-div">
                <h5 class="image-text">Particle Animations</h5>
                <a class="thumbnail-link-parent" href="/swarm" target="_blank"><img class="thumbnail-link" src="/assets/photos/swarm.png"></a>
            </div>
            <!-- <div><a href="https://github.com/drigberg/algorithms_and_design_patterns" target="_blank"><img class="thumbnail-link" src="/assets/algorithms.png"></a></div> -->
            <div></div>
        </div>
    </div>
    <p class="summary-column">My personal coding projects tend to revolve around language processing, particle animations, game design, and statistics.</p>
</div>

<div class="section-strip" id="interests-strip">
    <div class="graphics-column">
        <div class="coding-div">
            <div><img class="thumbnail-skill" id="django" src="/assets/photos/mountain.jpg"></div>
            <div><img class="thumbnail-skill" id="python" src="/assets/photos/glacier.jpg"></div>
            <div><img class="thumbnail-skill" id="excel" src="/assets/photos/guitar.jpg"></div>
        </div>
    </div>
    <div class="graphics-column-2">
        <div class="coding-div">
            <div><img class="thumbnail-skill" id="django" src="/assets/photos/scuba.jpg"></div>
            <div><img class="thumbnail-skill" id="python" src="/assets/photos/skydiving.jpg"></div>
            <div><img class="thumbnail-skill" id="excel" src="/assets/photos/unicycle.jpg"></div>
        </div>
    </div>
    <p class="summary-column">In my spare time, I love traveling, cooking, slack-lining,
        scuba diving, reading, singing, working on my electro-pop album, skydiving, dancing,
        constructing post-it note murals on my ceilings, camping, hiking, playing board games, biking,
        unicycling, skateboarding, swimming, paper-folding, playing guitar, walking in the rain,
        rock-climbing, playing with cats, writing short stories, sewing stuffed animals, attempting (but mostly failing)
        to draw things, and enjoying many, many other activities.
    <p>
</div>


<!-- <script src="../js/p5.min.js"></script>
<script src="../js/p5.dom.min.js"></script>
-->

<% include ./partials/footer %>
