<% include ./partials/header %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/coding">Coding</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/travel">Travel</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <div id="header">
        <h2 class="heading"><strong>Welcome!</strong></h2>
    </div>
    <div id="container"></div>

    <script src="../js/sketch.js"></script>
    <script src="../js/index_particles.js"></script>

<% include ./partials/footer %>
