<% include ./partials/header %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/coding">Coding</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/travel">Travel</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <div id="header">
        <h1 class="heading"><strong>Welcome!</strong></h1>
    </div>
    <div id="container"></div>

    <script src="../js/sketch.js"></script>
    <script>

    // ----------------------------------------
    // Particle
    // ----------------------------------------

    function Particle( x, y, radius ) {
        this.init( x, y, radius );
    }
    var attraction = 100;
    var mouseover = false;

    Particle.prototype = {

        init: function( x, y, radius ) {

            this.alive = true;
            this.x = x || 0;
            this.y = y || 0;
            this.origin = [600, 350];
            this.r_x = (this.x - 600);
            this.r_y = (this.y - 250);
            this.r = sqrt((this.r_x * this.r_x) + (this.r_y * this.r_y));

            this.radius = radius || 2;
            this.wander = 0.15;
            this.xtheta = 0;
            this.ytheta = 0;

            this.drag = 3;
            this.color = '#000000';

            this.vx = 8 / this.r * (this.r_y);
            this.vy = 8 / this.r * (this.r_x);
        },

        move: function() {

            if (mouseover) {
                for ( i = 0, n = demo.touches.length; i < n; i++ ) {
                    var touch = demo.touches[i];
                    this.r_x = (this.x - touch.x);
                    this.r_y = (this.y - touch.y);
                }
            } else {
                this.r_x = (this.x - this.origin[0]);
                this.r_y = (this.y - this.origin[1]);
            }
            // this.r_x = (this.x - this.origin[0]);
            // this.r_y = (this.y - this.origin[1]);
            this.r = sqrt((this.r_x * this.r_x) + (this.r_y * this.r_y));

            if (this.r < 30 ) this.r = 30;


            this.xtheta = (-(this.r_x / (this.r * this.r)) * attraction) * (1 / (abs(this.vx) + 1));
            this.ytheta = (-(this.r_y / (this.r * this.r)) * attraction) * (1 / (abs(this.vy) + 1));
            // this.xtheta += random( -1, 1 ) * this.wander;
            // this.ytheta += random( -1, 1 ) * this.wander;
            this.vx += this.xtheta;
            this.vy += this.ytheta;
            this.x += this.vx;
            this.y += this.vy;

            if (this.x > demo.width - 1) {
                this.vx = this.vx * -0.7;
                this.xtheta = 0;
            } else if (this.x < 1){
                this.vx = this.vx * -0.7;
                this.xtheta = 0;
            };

            if (this.y > demo.height) {
                this.vy = this.vy * -0.7;
                this.ytheta = 0;
            } else if (this.y < 1){
                this.vy = this.vy * -0.7;
                this.ytheta = 0;
            };
        },

        draw: function( ctx ) {

            ctx.beginPath();
            ctx.arc( this.x, this.y, this.radius, 0, TWO_PI );
            ctx.fillStyle = '#000000';
            ctx.fill();
        }
    };

    // ----------------------------------------
    // Example
    // ----------------------------------------

    var MAX_PARTICLES = 1000;
    var COLOURS = [ '#69D2E7', '#A7DBD8', '#E0E4CC', '#F38630', '#FA6900', '#FF4E50', '#F9D423' ];

    var particles = [];
    var pool = [];

    var demo = Sketch.create({
        container: document.getElementById( 'container' )
    });

    demo.setup = function() {

        // Set off some initial particles.
        var i, x, y;

        for ( i = 0; i < 100; i++ ) {
            // x = ( random(demo.width));
            // y = ( random(demo.height));
            x = random(300,900);
            y = random(100,400);
            demo.spawn( x, y );
        }
    };

    demo.spawn = function( x, y ) {

        var particle, xtheta, ytheta, force;

        if ( particles.length >= MAX_PARTICLES )
            pool.push( particles.shift() );

        particle = pool.length ? pool.pop() : new Particle();
        particle.init( x, y, 2 );

        // particle.wander = random( 0.5, 2.0 );
        particle.wander = random( 0.5, 1.0 );
        particle.color = random( COLOURS );
        particle.drag = random( 0.9, 0.99 );

        xtheta = random( TWO_PI );
        ytheta = random( TWO_PI );
        force = random( 2, 8 );
        particles.push( particle );
    };

    demo.update = function() {

        var i, particle;

        for ( i = particles.length - 1; i >= 0; i-- ) {

            particle = particles[i];

            if ( particle.alive ) particle.move();
            else pool.push( particles.splice( i, 1 )[0] );
        }

        var particle, theta, force, touch, max, i, j, n;

        for ( i = 0, n = demo.touches.length; i < n; i++ ) {
            touch = demo.touches[i];
            // demo.spawn( touch.x, touch.y );
            for ( var k = particles.length - 1; k >= 0; k-- ) {
                if (sqrt((particles[k].x - touch.x) * (particles[k].x - touch.x) + (particles[k].y - touch.y) * (particles[k].y - touch.y)) < 200) {
                    if (particles[k].radius < 10) {
                        if (mouseover) {
                            particles[k].radius += 0.2
                        };
                    };
                } else {
                    if (particles[k].radius > 2) {
                        particles[k].radius -= 0.2
                    };
                };
            }
        }
    };

    demo.draw = function() {
        // demo.globalCompositeOperation  = 'lighter';
        for ( var i = particles.length - 1; i >= 0; i-- ) {
            particles[i].draw( demo );
        }
    };


    demo.mousedown = function() {
        attraction = 400;
    }

    demo.mouseup = function() {
        attraction = 100;
    }

    demo.mouseover = function() {
        mouseover = true;
    }

    demo.mouseout = function() {
        mouseover = false;
    }

    </script>
<% include ./partials/footer %>
