<% include ./partials/header %>
<div id="canvas-background"></div>

<div class="section-strip" id="header-strip">
    <div class="flex-box" id="header-flex-box">
        <div class="header-boxes" id="profile-photo-div">
            <img id="profile-photo" src="/assets/photos/headshot.jpg">
            <a href="/download_resume" download="Rigberg_Resume_2016.pdf"><button id="resume-download" download="Rigberg_Resume_2016.pdf" class="btn btn-lg">Download Resume</button></a>
        </div>
        <div class="header-boxes" id="title-div">
            <h2 id="title-text">Daniel Rigberg: web developer</h2>
            <h4><strong>email:</strong> daniel.rigberg (at) gmail.com</h4>
            <h4><strong>linkedin:</strong> https://www.linkedin.com/in/daniel-rigberg</h4>
        </div>
    </div>
</div>

<div class="section-strip initially-hidden" id="music-strip">
    <div id="audio-flex-box">
        <p class="large-summary">Once upon a time, I studied music composition at Yale. It wasn't the career for me, but songwriting continues to be one of my primary pastimes.</p>
        <p class="mobile-summary">Once upon a time, I studied music composition at Yale, but it wasn't the career for me.</p>
        <div class="audio-div col-xs-12 col-sm-6">
            <h4 class="audio-element">"September"</h4>
            <h4 class="audio-element">for bassoon and piano</h4>
            <h5 class="audio-element">"September" for bassoon and piano</h5>
            <audio controls class="audio-element">
                <source src="/assets/audio/september.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>

        <div class="audio-div col-xs-12 col-sm-6">
            <h4 class="audio-element">"Zinkara"</h4>
            <h4 class="audio-element">for two guitars</h4>
            <h5 class="audio-element">"Zinkara" for two guitars</h5>
            <audio controls class="audio-element">
                <source src="/assets/audio/zinkara.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>
        <div class="audio-div col-xs-12 col-sm-6">
            <h4 class="audio-element">"Gravity Cats"</h4>
            <h4 class="audio-element">for chamber ensemble</h4>
            <h5 class="audio-element">"Gravity Cats" for chamber ensemble</h5>
            <audio controls class="audio-element">
                <source src="/assets/audio/gravity_cats.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>
        <div class="audio-div col-xs-12 col-sm-6">
            <h4 class="audio-element">"Holovarium"</h4>
            <h4 class="audio-element">for chamber ensemble</h4>
            <h5 class="audio-element">"Holovarium" for chamber ensemble</h5>
            <audio controls class="audio-element">
                <source src="/assets/audio/holovarium.mp3" type="audio/mpeg">
                (Your browser does not support the audio element.)
            </audio>
        </div>
    </div>
    <!-- <div class="col-sm-6">
        <p class="large-summary">Once upon a time, I studied music composition at Yale, but it wasn't the career for me.</p>
    </div> -->
</div>

<div class="section-strip initially-hidden" id="coding-strip">
    <p class="mobile-summary">After graduating, I joined a real estate tech startup as a data specialist, taught myself how to code, and transitioned to a developer role. <br><br> Recently, I've been studying independently and pair-programming at the Recurse Center in NYC.</p>
    <p class="large-summary">
        After graduating, I joined a real estate tech startup as a data specialist, taught myself how to code, and transitioned to a developer role.
        <br>
        <br>
        For the past few months, I've been independently studying and pair-programming at the Recurse Center in New York City.
        <br>
        <br>
        <strong id="SkillsBot-intro">Use the SkillsBot below to see what I learned and what I'm studying now!</strong>
    </p>

    <div id="terminal"></div>
</div>

<div class="section-strip initially-hidden" id="projects-strip">
    <p class="mobile-summary">My personal coding projects tend to revolve around language processing, particle animations, game design, and statistics.</p>
    <p class="large-summary">
        My personal coding projects tend to revolve around language processing, particle animations, game design, and statistics.
    </p>
    <div id="projects-column" class="col-xs-12">
        <div class="project-div col-xs-12 col-sm-4 col-md-3">
            <h5 class="image-text">Horoscope Generator</h5>
            <a class="thumbnail-link-parent col-xs-12" href="http://www.horoscopegen.com" target="_blank"><img class="thumbnail-link" id="django" src="/assets/photos/constellations.png"></a>
        </div>
        <div class="project-div col-xs-12 col-sm-4 col-md-3">
            <h5 class="image-text">Terminal Battleship</h5>
            <a class="thumbnail-link-parent col-xs-12" href="https://github.com/drigberg/terminal_battleship" target="_blank"><img class="thumbnail-link" src="/assets/photos/battleship.png"></a>
        </div>
        <div class="project-div col-xs-12 col-sm-4 col-md-3">
            <h5 class="image-text">Design and Algorithms</h5>
            <a class="thumbnail-link-parent col-xs-12" href="https://github.com/drigberg/algorithms_and_design_patterns" target="_blank"><img class="thumbnail-link" src="/assets/photos/algorithms.png"></a>
        </div>
        <div class="project-div col-xs-12 col-sm-4 col-md-3">
            <h5 class="image-text">Liar's Dice</h5>
            <a class="thumbnail-link-parent col-xs-12" href="https://github.com/drigberg/liars_dice" target="_blank"><img class="thumbnail-link" id="django" src="/assets/photos/liars_dice.png"></a>
        </div>
        <div class="project-div col-xs-12 col-sm-4 col-md-3">
            <h5 class="image-text">Particle Animations</h5>
            <a class="thumbnail-link-parent col-xs-12" href="/particleHub" target="_blank"><img class="thumbnail-link" src="/assets/photos/swarm.png"></a>
        </div>
    </div>
</div>

<div class="section-strip initially-hidden" id="interests-strip">
    <p class="mobile-summary">In my spare time, I love traveling, cooking, slack-lining,
        scuba diving, reading, singing, working on my electro-pop album, skydiving, dancing, etc.
        <br>
        <br>
        <strong>Soon, there will be a game here, for exploring my many interests! It is not here yet, because this site is brand-spanking-new. Soon! Soon.</strong>
    </p>
    <p class="large-summary">
        <strong>Soon, there will be a Javascript game here, for exploring my many interests! It is not here yet, because this site is brand-spanking-new. Soon! Soon. In the meantime, here is a list:</strong>
        <br>
        <br>
        traveling, cooking, slack-lining, scuba diving, reading, singing, hiking, exploring, swimming, surfing, board games, sewing, reading, cooking, origami, star-gazing
    </p>
</div>

<div class="flex-box" id="progress-bar">
    <i class="fa fa-3x fa-user-circle progress-bar-top" id="header-icon" aria-hidden="true"></i>
    <i class="fa fa-3x fa-graduation-cap progress-bar-middle" id="music-icon"  aria-hidden="true"></i>
    <i class="fa fa-3x fa-code-fork progress-bar-bottom" id="coding-icon" aria-hidden="true"></i>
    <i class="fa fa-3x fa-wrench progress-bar-bottom" id="projects-icon" aria-hidden="true"></i>
    <i class="fa fa-3x fa-bicycle progress-bar-bottom" id="interests-icon" aria-hidden="true"></i>
</div>

<script src="/js/gradientBackground.js"></script>
<script src="/js/p5.min.js"></script>
<script src="/js/p5.dom.min.js"></script>
<% include ./partials/footer %>
