<% include ./partials/header %>
<div class="container" id="main">
    <div id="header">
        <h1 class="heading"><strong>Where They Grow</strong></h1>
        <h3 class="heading"><strong>by Emma O'Brien</strong></h3>
        <a class="btn btn-warning btn-lg" id="link" href="/horoscopes/new">Find your density!!</a>
        <h4 class="heading"><strong><%=horoscopeCount%> destinies foretold!!!! Join the movement!</strong></h4>
    </div>
</div>
<% include ./partials/footer %>
