<% include ./partials/header %>

<div class="particle-summary">
    <h3>Fish Buddy</h3>
    <h5>Tap or click to drop food for your fish buddy!</h5>
</div>

<div id="canvas-background"></div>

<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/MaykinFishBuddy.js"></script>

<% include ./partials/footer %>
