<% include ./partials/header %>
<div id="canvas-background"></div>

<div class="section-strip" id="particleDemos">
    <p class="page-summary">These are all of my particle demos!</p>
    <div id="projects-column" class="col-xs-12">
        <div class="project-div col-xs-12 col-sm-4 col-md-3">
            <h5 class="image-text">Swarm</h5>
            <a class="thumbnail-link-parent col-xs-12" href="/swarm" target="_blank"><img class="thumbnail-link" id="django" src="/assets/photos/swarm.png"></a>
        </div>
        <div class="project-div col-xs-12 col-sm-4 col-md-3">
            <h5 class="image-text">Gravitate And Feed</h5>
            <a class="thumbnail-link-parent col-xs-12" href="/gravitateAndFeed" target="_blank"><img class="thumbnail-link" src="/assets/photos/gravitate.png"></a>
        </div>
    </div>
</div>

<script src="/js/gradientBackground.js"></script>
<script src="/js/p5.min.js"></script>
<script src="/js/p5.dom.min.js"></script>
<% include ./partials/footer %>
