<% include ./partials/header %>

<div class="particle-summary">
    <h3>Pulse 3D</h3>
    <h5>A 3D grid that pulses away from mouse clicks!
        <br><br>
        <em>click/tap and hold:</em> create pulse (hold to select depth)
        <br>
        <em>shift-click (desktop only):</em> create recurring pulse
        <br>
        <em>enter (desktop only):</em> reset recurring pulses
        <br>
        <em>spacebar (desktop only):</em> toggle grid mode
    </h5>
</div>

<div id="canvas-background"></div>

<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/pulse3D.js"></script>
<% include ./partials/footer %>
