<% include ./partials/header %>

<div class="particle-summary">
    <h3>Pulse</h3>
    <h5>A grid that pulses away from mouse clicks! Try clicking!
    </h5>
</div>

<div id="canvas-background"></div>

<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/pulse.js"></script>
<% include ./partials/footer %>
