<% include ./partials/header %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <script src="../js/sketch.js"></script>
		<script src="../js/processing.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/waveform_style.css">

    <link src="../css/waveform_style.css"></link>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/gui.js"></script>
    <script src="../js/waveform.js"></script>
		<div class='row hidden-xs' id='header'>
				<div id='title' class='col-md-6 col-sm-6 col-xs-6'>Grain Synthesizer based on Multi-Touch Granular Sampler 1.0 by ZYA</div>
		</div>

		<!-- waveform row -->
		<div class='row ' id='waveform'>

			<canvas id='canvas'></canvas>
			<canvas id='canvas2'></canvas>
			<div id='help'>
				<br>
				<div class='row .hidden-xs' id='x'><span class='glyphicon glyphicon-arrow-left'></span> x axis - grain position <span class='glyphicon glyphicon-arrow-right'></span><br><br><span class='glyphicon glyphicon-arrow-up'></span><br>y axis - grain amplitude<br> <span class='glyphicon glyphicon-arrow-down'></span> </div>
				<div class='row'>
					<div class='col-md-3 col-sm-3 col-xs-3'></div>
					<div id='drop' class='col-md-6 col-sm-6 col-xs-6 hidden-xs'> <br>drop an audio file here <br><br></div>
					<div class='col-md-3 col-sm-3 col-xs-3'></div>
				</div><br>
				<div class='row hidden-xs' id='description'>
					<div class='col-md-3 col-sm-3 col-xs-3'>
					</div>
					<div class='col-md-3 col-sm-3 col-xs-3'>
					</div>
				</div>
			</div>
		</div>
<% include ./partials/footer %>
