<% include ./partials/header %>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div id="container"></div>

    <script src="../js/sketch.js"></script>
    <script src="../js/dsp.js"></script>
    <script src="../js/waveform.js"></script>

<% include ./partials/footer %>
