<% include ./partials/header %>

<div class="particle-summary">
    <h3>Swarm3D</h3>
    <h5>Watch a swarm or slow particles chase a faster particle! All motion is represented with unit vectors and magnitudes.</h5>
</div>

<div id="canvas-background"></div>

<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
<script language="javascript" type="text/javascript" src="/js/math.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/swarm3D.js"></script>

<% include ./partials/footer %>
