<% include ./partials/header %>

<div class="particle-summary">
    <h3>Swarm3D</h3>
    <h5>
        Watch a flock of slow particles chase a faster particle! All motion is represented with unit vectors and magnitudes.
        <br>
        Press spacebar to toggle flock mode! In flock mode, birds are aware of their neighbors and try to maintain a constant distance.
        Outside of toggle mode, they act as swarms and are only aware of their common target.
        <br>
        Refresh for new flocks with new speeds, number of birds, and flock constants!
    </h5>
</div>

<div id="canvas-background"></div>

<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
<script language="javascript" type="text/javascript" src="/js/math.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/swarm3D.js"></script>

<% include ./partials/footer %>
