<% include ./partials/header %>
    <!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/coding">Coding</a></li>
    <li><a href="/music">Music</a></li>
    <li class="active"><a href="/travel">Travel<span class="sr-only">(current)</span></a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div id="header">
    <h1 class="heading"><strong>Travel</strong></h1>
</div>
<div class="content">
</div>

<script src="http://d3js.org/topojson.v0.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
<script src="../js/travel_map.js"></script>

<% include ./partials/footer %>
