<% include ../partials/header %>

<div class="particle-summary">
    <h3>Garden 2D</h3>
    <h5>Grow a garden by tapping or clicking!</h5>
</div>

<div id="canvas-background"></div>

<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/garden2D.js"></script>

<% include ../partials/footer %>
