div(class="section-strip", id="header-strip")
    div(class="flex-box", id="header-flex-box")
        div(class="header-boxes", id="title-div")
            h2(id="title-text") Daniel Rigberg: web developer
            h4
                strong email:
                | daniel.rigberg (at) gmail.com
            h4
                strong linkedin:
                | https://www.linkedin.com/in/daniel-rigberg
        div(class="header-boxes", id="profile-photo-div")
            img(id="profile-photo", src="/assets/images/headshot.jpg")
            //- a(href="/download_resume", download="DanielRigberg_Resume.pdf")
            button(id="resume-download", download="DanielRigberg_Resume.pdf", class="btn btn-lg") Download Resume