nav(class="navbar navbar-default")
  div(class="container-fluid")
      // Brand and toggle get grouped for better mobile display
      div(class="navbar-header")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        p(id="brand") Daniel Rigberg: programmer, adventurer, musician

      // Collect the nav links, forms, and other content for toggling
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li
            a(href="https://github.com/drigberg" target="_blank")
              i(class="fab fa-2x fa-github-square" aria-hidden="true")
          li
            a(href="https://www.linkedin.com/in/daniel-rigberg" target="_blank")
              i(class="fab fa-2x fa-linkedin" aria-hidden="true")
          li
            a(href="mailto:daniel.rigberg@gmail.com" target="_blank")
              i(class="fa fa-2x fa-envelope" aria-hidden="true")
