div(class="flex-box", id="progress-bar")
  i(class="fa fa-3x fa-user-circle progress-bar-top", id="header-icon", aria-hidden="true")
  i(class="fa fa-3x fa-building progress-bar-bottom", id="coding-icon", aria-hidden="true")
  i(class="fa fa-3x fa-laptop-code progress-bar-bottom", id="projects-icon", aria-hidden="true")
  i(class="fa fa-3x fa-music progress-bar-middle", id="music-icon", aria-hidden="true")