div(class="section-strip initially-hidden", id="projects-strip")
    p(class="page-summary")
        | My most recent project is an html game called "Penguin Defender." Currently functional but still being fine-tuned, it is written with Typescript and uses Pixi.js for visuals, Planck.js for physics, and SoundJS for audio.
        br
        br
        | Click the image below to play!
    div(class="penguin-container")
        a(href="/penguin_defender", target="_blank")
            img(id="penguin-preview", src="/assets/photos/penguin_defender.png")