div(class="section-strip initially-hidden", id="showcase-strip")
    p(class="page-summary")
        | My most recent project is an html game called "Penguin Defender." Currently functional but still being fine-tuned, it is written with Typescript and uses Pixi.js for visuals, Planck.js for physics, and SoundJS for audio.
        br
        br
        | Click the image below to play!
        br
        br
        | Left/right: A/D
        br
        | Jump: W
        br
        | Attack: S
        br
        | Throw fish: space
        br
        | Pause: P
    div(class="showcase-container")
        a(href="https://penguin-defender.herokuapp.com/", target="_blank")
            img(id="showcase-preview", src="/assets/images/penguin_defender.png")