div(class="section-strip initially-hidden", id="showcase-strip")
    p(class="page-summary")
        | My most recent project is an image-to-ASCII-art converter written in Python, compatible with both webcams and Youtube videos. Tired of HD? Try ultra-low resolution!
        br
        br
        | See a demo below, or view the source code at 
        a(href="https://github.com/drigberg/image2ascii", target="_blank") https://github.com/drigberg/image2ascii
    div(class="showcase-container")
        iframe(width="560" height="315" src="https://www.youtube.com/embed/ZLYriI2lGLA?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
