div(class="section-strip initially-hidden", id="showcase-strip")
    p(class="page-summary")
        | My most recent project is an image-to-ASCII-art converter written in Python, compatible with both webcams and Youtube videos. Tired of HD? Try ultra-low resolution!
        br
        br
        | See a demo below, or view the source code at 
        a(href="https://github.com/drigberg/image2ascii", target="_blank") https://github.com/drigberg/image2ascii
    div(class="showcase-container")
        div(style="position:relative;")
            iframe(src="https://player.vimeo.com/video/385266015" class="vimeo_iframe" frameborder="0" allow="fullscreen" allowfullscreen)
        script(src="https://player.vimeo.com/api/player.js")
