div(class="section-strip initially-hidden", id="work-strip")
    div(id="work-content")
        div(class="work-category")
            h4 Languages
            div(class="work-category-items")
                div(class="work-item")
                    img(src='/assets/images/icons/node.png')
                    p Node.js
                div(class="work-item")
                    img(src='/assets/images/icons/python.png')
                    p Python
                div(class="work-item")
                    img(src='/assets/images/icons/go.png')
                    p Go
        div(class="work-category")
            h4 Backend Technologies
            div(class="work-category-items")
                div(class="work-item")
                    img(src='/assets/images/icons/express.png')
                    p Express
                div(class="work-item")
                    img(src='/assets/images/icons/typescript.svg')
                    p Typescript
                div(class="work-item")
                    img(src='/assets/images/icons/mongo.png')
                    p Mongodb
                div(class="work-item")
                    img(src='/assets/images/icons/postgres.png')
                    p Postgres
                div(class="work-item")
                    img(src='/assets/images/icons/mocha.svg')
                    p Mocha.js
                div(class="work-item")
                    img(src='/assets/images/icons/express.png')
                    p Redis
        div(class="work-category")
            h4 Frontend Technologies
            div(class="work-category-items")
                div(class="work-item")
                    img(src='/assets/images/icons/python.png')
                    p HTML5
                div(class="work-item")
                    img(src='/assets/images/icons/postgres.png')
                    p CSS
                div(class="work-item")
                    img(src='/assets/images/icons/mongo.png')
                    p React
                div(class="work-item")
                    img(src='/assets/images/icons/python.png')
                    p Angular
                div(class="work-item")
                    img(src='/assets/images/icons/postgres.png')
                    p JQuery
                div(class="work-item")
                    img(src='/assets/images/icons/mongo.png')
                    p Pixi.js
        div(class="work-category")
            h4 Other Technologies
            div(class="work-category-items")
                div(class="work-item")
                    img(src='/assets/images/icons/python.png')
                    p Docker
                div(class="work-item")
                    img(src='/assets/images/icons/postgres.png')
                    p Git
                div(class="work-item")
                    img(src='/assets/images/icons/mongo.png')
                    p AWS
                div(class="work-item")
                    img(src='/assets/images/icons/python.png')
                    p Vagrant
